#cabecalho{
    background-color: blueviolet;
    height:60px;
}

a{
    padding-top:30px;
    font-family: roboto;
    color: blueviolet;
    text-decoration: none;
    font-size:19.5px;
    margin:6px;

}

.btn{
    padding-top:30px;
    background-color: orangered;
    border-style: none;
    border-radius:5px;
    box-shadow:2px 2px 2px 2px rgb(128, 128, 128,0.3);
    color: rgb(240, 248, 255);
    font-family: roboto;
    font-size:16px;
    float: inline-end;
    width:120px;
    height:40px;

}


.social{
    font-family: roboto;
    font-size:19px;
    color: rgb(240, 248, 255);
    float: inline-end;
    display:inline-flex;
}